.container-conteudo {
    margin: 0 10rem;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/background-chamada.svg);
}

.cabecalho {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.cabecalho-principal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 16px;
    transition: 0.5s;
}

.contatoc {
    background-color: transparent;
    color: rgb(228, 222, 217);
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    transition: 0.3s;
    height: 40px;
    align-items: center;
}

.contatoc div {
    width: max-content;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.contatoc div:nth-child(2) {
    justify-content: center;
    gap: 10px;
    width: 15%;
    color: rgb(172, 0, 0);
}

.contatoc div span {
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.2s;
}

.contatoc div span:hover {
    cursor: pointer;
    color: rgb(228, 222, 217);
    transition: 0.2s;
}

.contatoc div a i {
    font-size: 25px;
}

.cabecalho .cabecalho-principal a:nth-child(1) {
    color: red;
    font-weight: 600;
    transition: 0.2s;
}

.cabecalho .cabecalho-principal a:nth-child(1):hover {
    color: rgb(228, 222, 217);
    font-weight: 350;
    transition: 0.2s;
}

.cabecalho a {
    text-decoration: none;
    color: rgb(228, 222, 217);
    font-weight: 350;
    transition: 0.2s;
}

.cabecalho a:hover {
    color: red;
    transition: 0.2s;
    font-weight: 600;
}

.cabecalho img {
    height: 95px;
    margin-left: 12rem;
}

.menu {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 12rem;
}

/* tela 1 */

.chamada {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 70vh;
    display: flex;
    align-items: center;
    border-image: fill 0 linear-gradient(#0001 0%, #101010 99%);
}

.chamada-tela1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(228, 222, 217);
    margin-top: 8rem;
}

.chamada-tela1 div {
    width: 45%;
}

.chamada-tela1 div h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.chamada-tela1 div:first-child {
    width: 50%;
}

.chamada-tela1 div a {
    background-color: rgb(172, 0, 0);
    border: none;
    width: 200px;
}

.chamada-tela1 div button:hover {
    background-color: rgb(99, 0, 0);
    border: none;
}

.img-maq {
    width: 100%;
}

/* chamada */

.conteudo {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: url(./img/imgbracos.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-image: fill 0 linear-gradient(#101010 0%, #0001 60%);
    display: flex;
    align-items: center;
    justify-content: end;
}

.texto1 {
    color: rgb(228, 222, 217);
    width: 40%;
    font-size: 1.3rem;
    margin-right: 6.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 4rem;
    text-shadow: 
        0.55px 0.55px 0px black,
        -0.55px 0.55px 0px black,
        0.55px -0.55px 0px black,
        -0.55px -0.55px 0px black;
}

.texto1::after {
    content: '';
    position: absolute;
    bottom: 0.6rem;
    width: 100%;
    height: 0.3rem;
    background: rgb(172, 0, 0);
    transition: all 300ms ease-in-out;
    left: 0;
}

.texto1:hover::after {
    width: 50%;
    left: 25%;
    right: 25%;
}

.texto1 p span:last-child {
    color: rgb(172, 0, 0);
}

/*servicos*/

.servicos {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
}

.servicos .quadros {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: -4rem;
}

.servicos .quadros div {
    width: 22%;
    height: 350px;
    background-color: rgb(228, 222, 217);
    box-shadow: 3px 2px 20px 5px rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    text-align: center;
    padding: 17px;
    position: relative;
    transition: 0.3s;
} 

.servicos .quadros div p{
    font-size: 1rem;
}

.servicos .quadros div h4{
    font-size: 1.3rem;
}

.servicos .quadros div img {
    position: absolute;
    width: 150px;
    bottom: -25%;
    transform: translateX(-50%);
}

.servicos .quadros div:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

/* Slides */

.slides {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.slides h2 {
    position: absolute;
    text-align: center;
    top: -4rem;
    color: rgb(228, 222, 217);
    text-transform: uppercase;
    font-weight: bold;
}

.slides-conteudo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.swiper {
    width: 100%;
    position: relative;
}

.swiper-slide {
    max-width: 36.35%;
    width: 100%;
    overflow: visible;
}

.swiper-slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

/* Visão */

.visao {
    background-image: url(./img/background-valores.png);
    height: 800px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #101010;
}

.contato {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    height: 800px;
}

.contato-conteudo {
    height: auto;
    width: 100%;
    background-color: #c3c2be;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.atendente, .contato-form {
    width: 45%;
    margin: 2rem 5rem;
}

.contato-conteudo img {
    width: 100%;
}

.form-control {
    width: 60%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group {
    margin: 0 0 10px 0;
}

/*rodape*/

.rodape {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: max-content;
    background-color: #101010;
    position: relative;

}

.rodape-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #101010;
    position: relative;
    padding: 2rem 0;
}

.rodape-img, .rodape-icons, .rodape-telefone-email {
    width: 30%;
    color: white;
}

.rodape div img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.rodape-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-icons {
    gap: 20px;
    display: flex;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
}

.rodape-icons a {
    text-decoration: none;
    color: white;
}

.rodape-icons a:hover {
    text-decoration: none;
    color: rgb(221, 221, 221)
}

.rodape-telefone-email {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.div-telefone, .div-email {
    width: max-content;
}

.direitos{
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: rgb(172, 0, 0);
    padding: 1rem 10rem;
    color: white;
    display: flex;
}

.direitos a {
    text-decoration: none;
    color: #101010;
    font-weight: 600;
}

@media (max-width: 576px) {
    .contatoc {
        height: max-content;
        flex-direction: column;
        gap: 5px;
    }

    .conteudo .texto1 {
        margin-top: 5rem !important;
        font-size: 1rem !important;
    }

    .swiper-slide {
        max-width: 100% !important;
        width: 100%;
    }

    .direitos {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .cabecalho-principal {
        background-color: #101010 !important;
    }

    .contatoc {
        display: none;
    }

    .servicos {
        height: max-content;
    }

    .quadros {
        position: inherit !important;
        flex-direction: column;
        padding: 3rem !important;
    }

    .quadros div {
        width: 100% !important;
        margin-bottom: 8rem;
        height: max-content !important;
    }

    .quadros div p{
        padding-bottom: 4.5rem;
    }

    .swiper-slide {
        max-width: 80%;
        width: 100%;
    }

    .visao {
        display: none;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 900px !important;
    }
    

    .chamada-tela1 div:first-child {
        width: 100%;
    }
    
    .chamada-tela1 {
        margin-top: 25rem !important;
    }

    .servicos {
        height: max-content;
    }

    .quadros {
        position: inherit !important;
        flex-direction: column;
        padding: 3rem !important;
    }

    .quadros div {
        width: 100% !important;
        margin-bottom: 8rem;
        height: max-content !important;
    }

    .quadros div p{
        padding-bottom: 4.5rem;
    }


    .conteudo .texto1 {
        width: 100%;
        margin: 2rem;
    }

    .cabecalho-principal {
        flex-direction: column;
        height: max-content;
    }

    .cabecalho-principal .menu {
        gap: 20px;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }

    .cabecalho-principal .menu, .cabecalho-principal img{
        margin: 2rem 0 0 0;
        width: max-content;
    }

    .swiper-slide {
        max-width: 50%;
        width: 100%;
    }

    .contato {
        height: max-content;
    }

    .contato-conteudo .contato-form {
        width: 100%;
        margin: 2rem;
    }
    
    .contato-conteudo .atendente {
        display: none;
    }

    .rodape-img, .rodape-icons, .rodape-telefone-email {
        height: 100%;
        width: 100%;
    }

    .rodape div img {
        max-width: 300px;
    }

    .rodape-conteudo {
        flex-direction: column;
    }

    .rodape-telefone-email {
        font-size: .8rem;
        width: max-content;
    }

    .rodape-conteudo {
        justify-content: center;
        gap: 10px;   
    }
    .rodape-telefone-email {
        font-size: 1rem;
    }

    .direitos {
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 1100px !important;
    }

    .quadros div {
        height: 400px !important;
    }

}

@media (min-width: 992px) and (max-width: 1399px) {
    .servicos .quadros div p{
        font-size: 0.85rem;
    }

    .chamada-tela1 {
        margin-top: 15rem;
    }

    .rodape-conteudo {
        justify-content: center;
        gap: 10px;   
    }
    .rodape-telefone-email {
        font-size: 1rem;
    }

    .direitos {
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1rem;
    }
}
